.a4 .content {
	width: 970px;
	height: 1372px;
	margin: 0 auto;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.a4 .content-left{
	width: 52%;
}
.a4 .content-right{
	width: 48%;
}
.a4 .content-hd {
	padding: 60px 50px 40px;
}
.a4 .content-hd .title {
    font-size: 56px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.a4 .content-hd .name h1 small {
    font-size: 26px;
    padding-left: 12px;
}
.a4 .content-hd .job h2 {
    font-size: 26px;
}
.a4 .content-hd .info {
	line-height: 32px;
}
.a4 .content-hd .info h2 {
	font-size: 19px;
}
.a4 .content-hd .info h3 {
	font-size: 17px;
}
.a4 .content-hd .contact ul {
	margin-bottom: 0;
}
.a4 .content-hd .contact ul>li {
    height: 25px;
}
.a4 .content-hd .contact ul>li>a {
	font-size: 15px;
}
.a4 .content-bd {
    padding: 25px 30px 50px;
}
.a4 .content-bd .item-hd {
	padding: 10px 0 8px;
}
.a4 .content-bd .project .item-hd {
	padding: 10px 0 6px;
}
.a4 .content-bd .practice .item-bd,
.a4 .content-bd .project .item-bd {
	margin-bottom: 0;
}
.a4 .content-bd .prize .item-hd {
	padding: 11px 0 5px;
} 
.a4 .content-bd .practice .item-time {
	width: 31%;
}
.a4 .content-bd .section-hd {
	margin: 10px auto 8px;
}
.a4 .content-bd section {
	padding: 10px 20px;
}
.a4 .section-content {
    line-height: 1.75 !important;
}
.a4 .project {
	padding-top: 5px !important;
}
.a4 .pdf {
	display: none;
}
.a4 .footer-link {
	position: absolute;
	right: 45px;
	bottom: 20px;
	color: #ccc;
	display: inline-block;
}